$bluezodiac: #122244;
$downy: #6AC8A1;

@mixin bottom-color {
  background: #b3eaff; /* Old browsers */
  background: -moz-linear-gradient(top, #b3eaff 0%, #386b8f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b3eaff 0%, #386b8f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b3eaff 0%, #386b8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin top-color {
  background: -moz-radial-gradient(farthest-side at 60% 25%, rgba(198, 241, 253, 1) 0%, rgba(125, 185, 232, 0) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(farthest-side at 60% 25%, rgba(198, 241, 253, 1) 0%, rgba(125, 185, 232, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(farthest-side at 60% 25%, rgba(198, 241, 253, 1) 0%, rgba(125, 185, 232, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin behind-timeline {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(227, 172, 239, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(227, 172, 239, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(227, 172, 239, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}