html {
  font-size: 55.5%;
  font-family: 'Open Sans', sans-serif;

  @media screen and (min-width: $mobile) {
    font-size: 80%;
  }
  @media screen and (min-width: $iphone6) {
    font-size: 100%;
  }
  @media screen and (min-width: $mobile_l) {
    font-size: 62.5%; /* 1rem = 10px */
  }
}