.c-timeline__wrapper {
  margin: auto;
  display: block;
  position: relative;
  width: 70%;

  @media screen and (min-width: $mobile) {
    width: 90%;
  }
  @media screen and (min-width: $mobile_l) {
    width: 87%;
    margin-top: 50vh;
    margin-left: 0;
  }
}

.c-timeline__shadow, .c-timeline__skin {
  @media screen and (min-width: $mobile_l) {
    position: absolute;
    width: 100%;
    height: 5rem;
  }
}

.c-timeline__shadow {
  @media screen and (min-width: $mobile_l) {
    @include behind-timeline;
    left: 1.9rem;
  }
}

.c-timeline__skin {
  @media screen and (min-width: $mobile_l) {
    box-shadow: inset 0 0 25px 9px white;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  }
}

.c-timeline__line {
  display: none;
  @media screen and (min-width: $mobile_l) {
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;
    margin: 3rem 0 0;
    border-radius: 0.4rem;
    background-color: $bluezodiac;

    &--bottom {
      width: 40%;
      @include bottom-color;
    }

    &--top {
      width: 100%;
      @include top-color;
    }
  }
}

.c-timeline__line--bottom {
  margin-left: 0.4rem;
}

.o-timeline__shape {
  height: 1.1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0.4rem;
}

.o-event__container {
  @media screen and (min-width: $mobile_l) {
    position: absolute;
    display: inline-block;
    top: 2rem;
  }
}

.o-popup {
  position: absolute;
  display: inline;
  width: 65vw;
  overflow: hidden;

  @media screen and (min-width: $mobile) {
    width: 67vw;
  }

  @media screen and (min-width: $mobile_l) {
    display: none;
    top: -7.2rem;
    left: -2.2rem;
    width: 8.4rem;
    height: 7.0rem;
    background-image: url('../img/popup.png');
    background-repeat: no-repeat;
    text-align: center;
  }

  &.active {
    @media screen and (min-width: $mobile_l) {
      display: inline-table;
    }
  }

  &__date {
    margin: 0.6rem 0.6rem 0;
    font-weight: 800;
    font-size: 1.7rem;

    @media screen and (min-width: $mobile_l) {
      margin: 0.5rem auto;
      font-size: 1rem;
    }
  }

  &__name {
    font-size: 0.925rem;
    text-transform: uppercase;
    margin: 0.2rem 0.6rem;

    @media screen and (min-width: $mobile_l) {
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1.2rem auto;
    }
  }
}

.o-icon {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  margin: 0.8rem 5%;
  border-radius: 1.85rem;
  background-color: $bluezodiac;
  color: white;

  @media screen and (min-width: $mobile_l) {
    display: block;
    margin: 0.2rem auto;
  }
}

.o-icon__wrapper .hover.o-circleArea {
  background: $downy;
  box-shadow: inset 0 0.5px 1px #fff;
}

.o-circleArea {
  position: absolute;
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 1.4rem;
  top: 0.45rem;
  left: 0;
  right: 0;
  margin: auto;
}

.o-fontawesome {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  width: 2rem;
  margin: auto;
  border-radius: 1.4rem;
  pointer-events: none;
  font-size: 2rem;

  &.fa-heart {
    transform: translateY(1rem);
    //top: 1.0rem;
  }
  &.fa-flask {
    transform: translate(0.05rem, 0.9rem);
  }
  &.fa-gavel {
    transform: translate(-0.1rem, 0.9rem);
  }
  &.fa-trophy {
    transform: translate(0.1rem, 0.95rem);
  }
  &.fa-graduation-cap {
    transform: translate(-0.3rem, 0.95rem);
  }
}

.js-static__color.o-icon__wrapper {
  color: $bluezodiac;
}

.js-static__color .o-circleArea {
  @include bottom-color;
  box-shadow: inset 0 0.5px 1px #fff;
}

