<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- build:css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/vendors/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <title>Timeline!</title>

</head>

<body>

<section class="cd-horizontal-timeline">

    <div id="timeline__wrapper" class="c-timeline__wrapper">
        <div class="c-timeline__shadow">
            <div class="c-timeline__skin">
                <div class="c-timeline__line">
                    <div id="js-timeline__line--bottom" class="c-timeline__line--bottom o-timeline__shape">
                        <div class="c-timeline__line--top o-timeline__shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script id="timeline-template" type="text/x-handlebars-temlpate">

{{#each inputTableData}}
<div class="o-event__container" data-nr="{{day}}">

    <div class="o-icon o-icon__wrapper" >
        <i class="o-fontawesome fa {{icon}}" aria-hidden="true"></i>
        <div class="o-circleArea" alt="">
        </div>
    </div>

    <div class="o-popup">
        <p class="o-popup__date">{{date}}</p>
        <p class="o-popup__name">{{name}}</p>
    </div>
</div>
{{/each}}

</script>

<!-- build:js -->
<script src="js/vendor/handlebars-v4.0.11.js"></script>
<script src="js/script.js"></script>
<!-- endbuild -->

</body>
</html>